## The following requirements were added by pip freeze:
absl-py==0.9.0
appdirs==1.4.3
asciimatics==1.11.0
atomicwrites==1.3.0
atpublic==1.0
attrs==19.3.0
certifi==2019.11.28
chardet==3.0.4
colorama==0.4.1
configobj==5.0.6
configparser==4.0.2
contextlib2==0.5.5
decorator==4.4.1
distro==1.4.0
dvc==0.67.0
flufl.lock==3.2
funcy==1.13
future==0.18.1
gitdb2==2.0.6
GitPython==3.0.4
grandalf==0.6
grpcio==1.24.3
humanize==0.5.1
idna==2.8
imageio==2.6.1
importlib-metadata==0.23
inflect==3.0.1
jsonpath-ng==1.4.3
Markdown==3.1.1
more-itertools==7.2.0
nanotime==0.5.2
networkx==2.3
numpy==1.17.3
packaging==19.2
pandas==0.25.2
pathspec==0.6.0
Pillow==6.2.1
pluggy==0.13.0
ply==3.11
protobuf==3.10.0
py==1.8.0
pyasn1==0.4.7
pyfiglet==0.8.post1
pyparsing==2.4.2
pytest==5.2.2
python-dateutil==2.8.0
pytorch-lightning==0.5.2.1
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
schema==0.7.1
shortuuid==0.5.0
six==1.12.0
smmap2==2.0.5
tb-nightly==1.15.0a20190708
test-tube==0.7.3
torch==1.3.1
torchvision==0.4.2
tqdm==4.38.0
treelib==1.5.5
urllib3==1.25.6
wcwidth==0.1.7
Werkzeug==0.16.0
zipp==0.6.0
