setuptools==75.1.0
pytest==8.3.3
respx==0.21.1
pytest-git==1.7.0
pytest-env==1.1.5
pytest-mock==3.14.0
fiftyone==1.0.0
datasets==3.0.1
ultralytics==8.3.6
# TODO: REMOVE AFTER pytest-shutil has been fixed: https://github.com/man-group/pytest-plugins/issues/224
path==16.0.0
