## The following requirements were added by pip freeze:
absl-py==0.11.0
appdirs==1.4.4
asciimatics==1.12.0
atomicwrites==1.4.0
atpublic==2.1.1
attrs==20.3.0
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
configobj==5.0.6
configparser==5.0.1
contextlib2==0.6.0.post1
decorator==4.4.2
distro==1.5.0
dvc==1.10.2
flufl.lock==5.0.3
funcy==1.15
future==0.18.2
gitdb2==4.0.2
GitPython==3.1.11
grandalf==0.7
grpcio==1.33.2
humanize==3.1.0
idna==2.10
imageio==2.9.0
importlib-metadata==3.1.0
inflect==5.0.2
jsonpath-ng==1.5.2
Markdown==3.3.3
more-itertools==8.6.0
nanotime==0.5.2
networkx==2.5
numpy==1.19.4
packaging==20.7
pandas==1.1.4
pathspec==0.8.1
Pillow==8.0.1
pluggy==0.13.1
ply==3.11
protobuf==3.14.0
py==1.9.0
pyasn1==0.4.8
pyfiglet==0.8.post1
pyparsing==2.4.7
pytest==6.1.2
python-dateutil==2.8.1
pytorch-lightning==1.0.8
pytz==2020.4
PyYAML==5.3.1
requests==2.25.0
ruamel.yaml==0.16.12
ruamel.yaml.clib==0.2.0
schema==0.7.3
shortuuid==1.0.1
six==1.15.0
smmap2==3.0.1
tb-nightly==2.5.0a20201130
test-tube==0.7.3
torch==1.7.0
torchvision==0.8.1
tqdm==4.53.0
treelib==1.6.1
urllib3==1.26.2
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.4.0

fastai==2.1.6