## The following requirements were added by pip freeze:
absl-py==0.10.0
appdirs==1.4.4
asciimatics==1.11.0
atomicwrites==1.4.0
atpublic==2.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
configobj==5.0.6
configparser==5.0.0
contextlib2==0.6.0.post1
decorator==4.4.2
distro==1.5.0
dvc==1.6.6
flufl.lock==5.0.1
funcy==1.14
future==0.18.2
gitdb2==4.0.2
GitPython==3.1.8
grandalf==0.7
grpcio==1.31.0
humanize==2.6.0
idna==2.10
imageio==2.9.0
importlib-metadata==1.7.0
inflect==4.1.0
jsonpath-ng==1.5.2
Markdown==3.2.2
more-itertools==8.5.0
nanotime==0.5.2
networkx==2.5
numpy==1.19.1
packaging==20.4
pandas==1.1.1
pathspec==0.8.0
Pillow==7.2.0
pluggy==0.13.1
ply==3.11
protobuf==3.13.0
py==1.9.0
pyasn1==0.4.8
pyfiglet==0.8.post1
pyparsing==2.4.7
pytest==6.0.1
python-dateutil==2.8.1
pytorch-lightning==0.9.0
pytz==2020.1
PyYAML==5.3.1
requests==2.24.0
ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
schema==0.7.3
shortuuid==1.0.1
six==1.15.0
smmap2==3.0.1
tb-nightly==2.4.0a20200831
test-tube==0.7.3
torch==1.6.0
torchvision==0.7.0
tqdm==4.48.2
treelib==1.6.1
urllib3==1.25.10
wcwidth==0.2.5
Werkzeug==1.0.1
zipp==3.1.0
